<section class="dashboard h-[100vh] flex justify-center p-8">

    <div class="bg-[#282828] w-full p-4 rounded-sm flex flex-col sm:flex-row gap-12 p-2">

        <div>
            <h1>Welcome back, <b>
                    <%= user.username %>
                </b>!</h1>


            <div>
                <span class="text-blue-600 underline"><i>App links</i></span>


                <ul>
                    <li><a href="/users/chat-room" class="hover:underline">Chat room</a></li>
                    <!-- <li><a href="" class="hover:underline">Private chat</a></li> -->
                    <li>
                        <% if (user.profile) { %>
                            <a class="hover:underline" href="/users/my-profile">
                                My profile

                            </a>
                            <% } else {%>
                                <a class="hover:underline" href="/users/create-profile">
                                    Create profile
                                </a>

                                <% } %>
                    </li>
                    <li>
                        <form action="/logout" method="POST">
                            <button type="submit" class="hover:underline cursor-pointer">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>



        <!-- Search profile section -->
        <div class="bg-gray-50 rounded-sm shadow-md border-b-4 border-r-4 flex-1  p-2 overflow-y-scroll">

            <!-- Form -->
            <div>
                <form>
                    <input type="text" name="user_id" placeholder="User ID"
                        class="text-gray-800 text-sm bg-gray-100 rounded-sm p-2 outline-none">

                    <button class="bg-teal-700 text-white rounded-sm p-2 text-sm">Search</button>
                </form>
            </div>

            <!-- Results -->
            <div class="mt-4 flex flex-col gap-4 ">


                <% if (typeof fetched_users != "undefined" && fetched_users.length > 0) { %>

                <% fetched_users.forEach((user) => { %>
                    <div class="bg-gray-100 p-4 rounded-sm flex flex-col ">
                        <div>
                            <ul>
                                <li>
                                    <span><%= user.username %></span>
                                </li>

                                <li>
                                    <span class="text-gray-400 text-sm">ID: <%= user.id_number %></span>
                                </li>
                            </ul>
                        </div>
                        <a class="bg-teal-600 w-fit rounded-sm p-2 text-gray-50 shadow-sm cursor-pointer text-sm" href="/users/private/chat/<%= user.id  %>">Chat with
                            this person</a>
                    </div>
                <% }) %>

                <% } else {%>
                        <span align="center" class="text-gray-500 text-sm">No results</span>
                    <% } %>
            </div>


        </div>


    </div>

</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log("<%user%>")
    })
</script>