<section class="flex flex-col items-center">
    <div class="w-100 flex-1 glass-borders">



        <div class="styled-container aero-borders">
            <div>
                <h1 class="">Welcome back, <%= user.username %>!</h1>
            </div>

          
            <!-- <div>
                <span class="text-blue-600 underline"><i>App links</i></span>


                <ul>
                    <li><a href="/users/chat-room" class="hover:underline">Chat room</a></li>
                    <li>
                        <% if (user.profile) { %>
                            <a class="hover:underline" href="/users/my-profile">
                                My profile

                            </a>
                            <% } else {%>
                                <a class="hover:underline" href="/users/create-profile">
                                    Create profile
                                </a>

                                <% } %>
                    </li>
                    <li>
                        <form action="/logout" method="POST">
                            <button type="submit" class="hover:underline cursor-pointer">Logout</button>
                        </form>
                    </li>
                </ul>
            </div> -->

        </div>





        <!-- Search profile section -->
        <div class="styled-container aero-borders mt-4  rounded-sm shadow-md border-b-4 border-r-4 flex-1  p-2 overflow-y-auto">

            <div>
                <form>
                    <input type="text" name="user_id" placeholder="Search by ID"
                        class="text-gray-800 text-sm bg-gray-100 rounded-sm p-2 outline-none w-full mb-2">

                    <button class="styled-button">Search</button>
                </form>
            </div>

            <div class="mt-4 flex flex-col gap-4  glass-borders">


                <% if (typeof fetched_users != "undefined" && fetched_users.length > 0) { %>

                <% fetched_users.forEach((user) => { %>
                    <div class="p-2">
                        <div>
                            <ul>
                                <li>
                                    <span class="text-white"><%= user.username %></span>
                                </li>

                                <li>
                                    <span class="text-gray-400 text-xs">ID: <%= user.id_number %></span>
                                </li>
                            </ul>
                        </div>
                        <a class="styled-button" href="/users/private/chat/<%= user.id  %>">Chat with
                            this person</a>
                    </div>
                <% }) %>

                <% } else {%>
                        <span align="center" class="text-gray-500 text-sm">No results</span>
                    <% } %>
            </div>


        </div>


    </div>

</section>

<!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log("<%user%>")
    })
</script> -->