<form action="/login" method="post" class="h-[100vh] flex justify-center py-4 px-2 items-center shadow-md rounded-sm">

    <div
        class="p-4 rounded-sm border border-gray-400 bg-gray-200  w-[380px] flex flex-col gap-4 border-r-4 border-b-4 border-gray-800">
        <div>
            <label for="" class="block text-gray-600">ID</label>
            <input type="text" placeholder="ID" name="id_number"
                class="w-full p-2 rounded-sm border border-gray-500 bg-white outline-none focus:ring focus:ring-blue-500 duration-100">
        </div>

        <div>
            <label for="" class="block text-gray-600">Password</label>
            <input type="password" placeholder="Password" name="password"
                class="w-full p-2 rounded-sm border border-gray-500 bg-white outline-none focus:ring focus:ring-blue-500 duration-100">
        </div>

        <!-- errors -->

        <% if (typeof errors !="undefined" ) { %>
            <ul class="text-red-500 bg-red-100 rounded-sm p-2 text-sm border">

                <% errors.forEach(error=> { %>
                    <li><%= error %></li>
                <% }) %>
            </ul>

        <% } %>

                <div class="flex flex-row gap-2">
                    <button class="flex-1 text-black p-2 font-bold border border-gray-500 hover:bg-gray-500 cursor-pointer">Log In</button>
                    <a class="text-center flex-1 text-black  font-bold p-2  cursor-pointer border border-gray-500 hover:bg-gray-500 "
                        href="/register">Register</a>
                </div>

    </div>

</form>