<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" type="image/png" href="/chat_room_header.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
</head>

<body class="">
    <!-- <header>
        <nav>
            nav here
        </nav>
    </header> -->
    <div class="p-8 grid grid-cols-4 gap-4 justify-evenly ">
        <% if (user) { %>
            <aside class="col-span-1">
                <div class="styled-container aero-borders">
                    <nav class="nav-categories">
                        <span class="navbar-titles">Application Links</span>
                        <div class="glass-borders nav-inactive">
                            <img src="/icons/chat_room.png" class="nav-icons" />
                            <a href="/users/chat-room" class="pl-2 text-lg hover:underline">Chat Room</a>
                        </div>
                        <div class="glass-borders nav-inactive">
                            <img src="/icons/user.png" class="nav-icons" />
                            <a href="/users/my-profile" class="pl-2 text-lg hover:underline">My Profile</a>
                        </div>
                        <div class="glass-borders nav-inactive">
                            <img src="/icons/dashboard.png" class="nav-icons" />
                            <a href="/users/dashboard" class="pl-2 text-lg hover:underline">Main</a>
                        </div>
                        <!-- <div class="nav-inactive">
                            <img src="/user.png" class="nav-icons" />
                            <a href="/users/create-profile" class="pl-2">Create Profile</a>
                        </div> -->
                        <form action="/logout" method="post" style="margin:6px auto; width:93%;">
                            <button type="submit" class="styled-button">Logout</button>
                        </form>
                    </nav>
                </div>
            </aside>
            <% } %>

                <main class="col-span-3">
                    <%- body %>
                </main>
    </div>

</body>

</html>