<div class="glass-borders ">
    <form action="/register" method="POST" class="styled-container aero-borders">
        <div class="">
            <!-- Card header -->
            <!-- <div class="bg-slate-800  px-4 py-8 flex flex-col justify-center items-center">
                 <img src="/ustp.png" width="100" alt="">
            </div> -->

            <!-- End Header -->

            <div class="flex flex-col gap-2 p-3">
                <div>
                    <label for="" class="block text-white">Username</label>
                    <input class="bg-white p-2 w-full outline-none" type="text" placeholder="Username" name="username">
                </div>

                <div>
                    <label for="" class="block text-white ">ID</label>
                    <input class="bg-white p-2 w-full outline-none" type="text" placeholder="ID" name="id_number">
                </div>

                <div>
                    <label for="" class="block text-white">Password</label>
                    <input class="bg-white p-2 w-full outline-none" type="password" placeholder="Password"
                        name="password">
                </div>

                <div>
                    <label for="" class="block text-white">Confirm Password</label>
                    <input class="bg-white p-2 w-full outline-none" type="password" placeholder="Confirm Password"
                        name="password_confirmation">
                </div>


                <!-- <a href="">Don't have an account yet? </a> -->
                <div class="flex flex-row gap-2">
                    <button type="submit" class="styled-button">
                        Account</button>
                    <a class="styled-button" href="/">Discard & Go back</a>
                </div>


                <% if (typeof error !="undefined" ) { %>
                    <ul class="text-red-500 bg-red-100 rounded-sm p-2 text-sm border">
                            <li>
                                <%= error %>
                            </li>
                    </ul>

                    <% } %>

            </div>

        </div>

    </form>

</div>