<div>
    <form action="/register" method="POST" class="styled-container aero-borders w-[500px]">
        <div class="w-full">
            <!-- End Header -->

            <div class="flex flex-col gap-2 p-3">
                <div class="px-4  ">
                    <label for="" class="block text-white">ユーザー名<span class="text-xs font-light"><i>(username)</i></label>
                    <input type="text" placeholder="ユーザー名 (username)" name="id_number"
                        class="text-gray-700 rounded-md  w-full p-2 border-1 border-gray-500 bg-white outline-none focus:ring focus:ring-blue-500 duration-100">
                </div>

                <div class="px-4">
                    <label for="" class="block text-white ">ID</label>
                    <input class="bg-white p-2 rounded-md w-full outline-none" type="text" placeholder="ID" name="id_number">
                </div>

                <div class="px-4">
                    <label for="" class="block text-white">パスワード<span class="text-xs font-light"><i>(password)</i></label>
                    <input class="bg-white p-2 rounded-md w-full outline-none" type="password" placeholder="パスワード"
                        name="password">
                </div>

                <div class="px-4">
                    <label for="" class="block text-white">パスワードの確認 <span class="text-xs font-light"><i>(password confirmation)</i></label>
                    <input class="bg-white p-2 rounded-md w-full outline-none" type="password" placeholder="パスワードの確認"
                        name="password_confirmation">
                </div>


                <!-- <a href="">Don't have an account yet? </a> -->
                <div class="flex flex-row gap-2 px-4 mt-4">
                    <button type="submit" class="styled-button">
                        Register</button>
                    <a class="styled-button" href="/">Discard & Go back</a>
                </div>


                <% if (typeof error !="undefined" ) { %>
                    <ul class="text-red-500 bg-red-100 rounded-sm p-2 text-sm border">
                        <li>
                            <%= error %>
                        </li>
                    </ul>

                    <% } %>

            </div>

        </div>

    </form>

</div>